<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledScopes</key>
	<dict/>
	<key>enabledScopes</key>
	<dict>
		<key>*</key>
		<false/>
		<key>OpenGL</key>
		<true/>
		<key>parseGCode</key>
		<true/>
	</dict>
	<key>verbosity</key>
	<integer>1</integer>
	<key>writeLogFile</key>
	<false/>
</dict>
</plist>
