<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>com.pleasantsoftware.gcodeIcon</string>
			<key>CFBundleTypeName</key>
			<string>GCode</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pleasantsoftware.uti.gcode</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>GCodeDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Digital Asset Exchange (DAE)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.khronos.collada.digital-asset-exchange</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>STLDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>com.pleasantsoftware.stlIcon</string>
			<key>CFBundleTypeName</key>
			<string>Stereolitography Object</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pleasantsoftware.uti.stl</string>
			</array>
			<key>NSDocumentClass</key>
			<string>STLDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>com.pleasantsoftware.p3dIcon</string>
			<key>CFBundleTypeName</key>
			<string>p3dProject</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pleasantsoftware.uti.p3d</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SliceNDiceDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DraggedTool</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pleasantsoftware.P3DTool</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>InMemory</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>$(APPLICATION_VERSION) ($(APPLICATION_BUILD_NUMBER)) © 2005-2013 Pleasant Software, Offenburg/Germany</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.pleasantsoftware.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APPLICATION_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(APPLICATION_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>http://download.pleasantsoftware.com/pleasant3d/pleasant3d.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Stereo Lithography 3D object</string>
			<key>UTTypeIconFile</key>
			<string>com.pleasantsoftware.stlIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.pleasantsoftware.uti.stl</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/STL_(file_format)</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GCode Data</string>
			<key>UTTypeIconFile</key>
			<string>com.pleasantsoftware.gCodeIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.pleasantsoftware.uti.gcode</string>
			<key>UTTypeReferenceURL</key>
			<string>http://en.wikipedia.org/wiki/Gcode</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gcode</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Pleasant3D Project</string>
			<key>UTTypeIconFile</key>
			<string>com.pleasantsoftware.p3dIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.pleasantsoftware.uti.p3d</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.pleasantsoftware.com/developer/pleasant3d/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>p3d</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
